
.face{
    width: 400px;
    height: 400px;
    background-color: #ffa511;
    border-radius: 50%;

}
.mouth{
    width: 200px;
    height: 75px;
    background-color: red;
    border-radius: 0% 0% 50% 50%;
    position: absolute;
    top: 250px;
    left:100px ;
}
.eye1{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: black;
    border-radius: 50%;
   top: 70px;
    left: 70px;
}
.eye11{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: black;
    border-radius: 50px;
   top: 70px;
    left: 250px;
}

