
span{
    color: rgb(93, 8, 174);

    border: 2px solid black;
    height: 100pX;
    width: 100px;
    padding: 50px;
    margin: 50px;
}
div{
    color: rgb(93, 8, 174);
    border: 2px solid black;
    height: 100pX;
    width: 100px;
    padding: 50px;
    margin: 50px;
}