
/* -- universal selector */

*{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(200, 230, 190);
}
/* Element Slsector|*/
h3,h1{
    color: rgba(1, 16, 12, 0.726);
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 0cqb;
}

/*ID Selector*/
#login{
    background-color: rgb(171, 188, 202);
    
}
#signup{
    color: rgb(211, 110, 211);
    background-color: rgb(3, 3, 117);
}
/* class selector*/
.upvote{
    color: rgb(215, 66, 16);
    background-color: rgb(121, 198, 198);
}
/*Descendant selector*/


/*
.post a{ /*Define a class*/
    /*
    color: rgb(238, 0, 127);
    background-color: rgb(241, 241, 12);
}
nav ul li  a{
    color:rgb(255, 0, 85);
    background-color: rgba(37, 149, 180, 0.648);
} 
body a {
    color: rgb(245, 34, 14);
    background-color: black;

}
/* Adjcent sibling combinator*/

/*
p+h3{
    color: rgb(241, 143, 22);
    
}
  .upvote + button{
    color: brown;
    background-color: chartreuse;
  }
  /* child combinator*/
  
  div > input{
    background-color:rgb(241, 240, 246);
  }

  /*Atribute Selector*/
  input[ type="text"]{
    color: rgb(165, 37, 106);

  }
  input[type="password" ]
  {
    color: rgb(227, 13, 227);
  }
  
  
  /*pseudo*/

  button:hover{
    background-color: rgb(217, 92, 78);
    color: ghostwhite;
  }
  h3:hover{
    text-decoration: overline;
    color: sandybrown;
  }

  button:active{
    background-color: purple;
    color: rgb(237, 0, 107);
  }
  p:active{
    font-weight: bold;
    color: rgb(201, 132, 167);
  }
  input[type="radio"]:checked+label{
    color: darkred;
    font-weight: bold;
  }
  div:nth-of-type(2n){
    background-color: rgb(240, 208, 168)
  }
  /*pseudo  Element */
  h1::first-letter{
    color: rgb(21, 238, 21);
  }
  p::first-line{
    color:rgb(199, 57, 199);
    }
  p::selection{
    background-color: limegreen
  }
  
