/* Alfa chanel me ye hota hai ki ye keval usi par apply hoti jisa par kiy ajaye baki kise me nahi  hoti hai  sab vasha ka vahsa rahta hai ji par apply huti vo kam karegi*/



 /*
div{
    height: 100px;
    width: 100px;
   background-color: rgba(11, 237, 64, 0.633);
   margin: 10px;
   margin: 0 auto;
   transition: margin-top 2s ease-in-out 0.2s;
}

div:hover{
margin-top: 400px;
background-color: pink;
  
}
   background-color: #4dff00f4 ;
    transition: 2s;
     transition-timing-function: step-start;
    
    transtion-delay:1s ;
    transition-duration:  1s ;
    transition-timing-function:linear;
   

div:hover{
  background-color: #ffa511;
   border-radius: 50%;
    }


opacity me ye hota hai ki ye sabhi pe apply hoti hai chahe heading ho ya fir button ho sab par apply hogi 


#opacity{
background-color: #f00606;§
opacity: 1;
}
 */


 section {
    margin-top: 0 auto;
    
 }
 div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: aqua;
    border: 2px solid black;
    margin: 10px;
    box-shadow: 2px 2px 10px red;
 }
 div:nth-of-type(2n){
    background-color: coral;
 }
 div:nth-of-type(3n){
    background-color: blue;
 }
 /*transform*/
 #one{
    transform: rotate(90deg) ;
}
 #two{
    transform: scale(0.5);
 }
 #three{/* only work in 2d not work 3d */
transform: translate(100px);
}
#four{
    transform: skew(30deg,45deg);
}
#five{
    transform: rotate(30deg) translate(50px,20px) scale(0.5,0.4) skew(20deg,40deg);
}

